## Sets:-
- Sets are used to store multiple items in single variable.
- A set is collection which is unorderd, unchangeable, and unidexed.
- Set cannot have two items with same values.
- Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
# Duplicate not allowed
set1 = {"apple","mango","cherry","apple"}
print(set1)

{'cherry', 'mango', 'apple'}

### Access Set Items:-

- It cannot access itms in a set by referring to an index or key.
- But you can loop through the set items using a 'for' loop or ask if a specified value is present in a set, by using the 'in' keyword.

In [3]:
#Example
set1 = {"apple","mango","cherry",}
for x in set1:
    print(x)

cherry
mango
apple

In [4]:
set1 = {"apple","mango","cherry"}
print("mango" in set1)

True

### Change Items:-
- Once a set is created, you cannot change its items, but you can add new items.

### Add Items:-
- To add one item to a set use the add() method.

In [6]:
set1 = {"apple","mango","cherry"}
set1.add("banana")
print(set1)

{'banana', 'cherry', 'mango', 'apple'}

- To add items from another set into the current set, use the update() method.

In [8]:
set1 = {"apple"}
set2 = {"banana"}
set1.update(set2)
print(set1
     )

{'banana', 'apple'}

#### Add any Iterable:-
- The object in the update() method does not have to be a set, it can be any iterable object(sets, tuples, list, dictionaries).

In [10]:
set1 = {"apple","mango","cherry"}
list1 = ["kiwi","orange"]
set1.update(list1)
print(set1)

{'kiwi', 'cherry', 'mango', 'orange', 'apple'}

### Remove Item:-
- Use the remove() ot discard() method.

In [11]:
set1 = {"apple","mango","cherry"}
set1.remove("apple")
print(set1)

{'cherry', 'mango'}

In [13]:
set1 = {"apple","mango","cherry"}
set1.discard("mango")
print(set1)

{'cherry', 'apple'}

- Pop() method remove an item, but this method will remove a random item, so you cannot sure what item that gets removed.

- The del keywoed will delete the set complete.

### Joint Sets:-
- The union() method returns  a new set with all itms from both sets.

In [14]:
set1 = {"apple","mango","cherry"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'cherry', 'mango', 'apple'}

- The Intersection_update() method will keep only common items that are present in both sides.

In [17]:
set1 = {"apple","mango","cherry"}
set2 = {"orange","mango","kiwi"}
set1.intersection_update(set2)
print(set1)

{'mango'}

In [19]:
set1 = {"apple","mango","cherry"}
set2 = {"orange","mango","kiwi"}
set3= set1.intersection(set2)
print(set3)

{'mango'}

## Dictionary:-
- Dictionaries are used to store data value in keys value pairs.
- A dictionary is a collection which is ordered, changeable, and do not allow duplicate.
- Dictionaries are written with curly brackets and have keys and values.

In [20]:
dic={}

In [21]:
type(dic)

dict

In [22]:
type(dict())

dict

In [23]:
set_ex={1,2,3,4,5}

In [24]:
type(set_ex)

set

In [25]:
# Let create a dictionary
dict1  = {"Brand":"Ford","Model":"Mustang","Year":1964}
print(dict1)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 1964}

In [27]:
print(dict1["Brand"])

Ford

In [28]:
#Dictionary Length
print(len(dict1))

3

### Dictionary items - data types:-
- String, int, boolean, and list data types:

In [29]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 1964, 'Colors': ['red', 'White']}

In [30]:
print(dict1["Colors"])

['red', 'White']

### dict() constructor
- It is also possible to use the dict() constructor to make a dict.

In [31]:
this_dict = dict(name="Kunal",age = 23,Country = "India")
print(this_dict)

{'name': 'Kunal', 'age': 23, 'Country': 'India'}

### Accessing Keys:-
- You can access the items of a dictionary by referring to its key name, inside square brackets[].

In [37]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
x = dict1["Brand"]
print(x)

Ford

In [38]:
# There is also a method called get() that will give you same result.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
x = dict1.get("Brand")

In [39]:
print(x)

Ford

### Get Keys:-
- The keys() method return a list of all keys in the dictionary.

In [40]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
x = dict1.keys()
print(x)

dict_keys(['Brand', 'Electric', 'Year', 'Colors'])

### Get Values:-
- The values() method return a list of all values in the dictionary

In [41]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
x = dict1.values()
print(x)

dict_values(['Ford', 'False', 1964, ['red', 'White']])

In [42]:
dict1["Year"] = 2020
print(x)

dict_values(['Ford', 'False', 2020, ['red', 'White']])

In [43]:
dict1["Model"] = "Mustang"
print(x)

dict_values(['Ford', 'False', 2020, ['red', 'White'], 'Mustang'])

In [44]:
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 2020, 'Colors': ['red', 'White'], 'Model': 'Mustang'}

### Get Items:-

In [45]:
x = dict1.items()
print(x)

dict_items([('Brand', 'Ford'), ('Electric', 'False'), ('Year', 2020), ('Colors', ['red', 'White']), ('Model', 'Mustang')])

### Changes Values:-

In [46]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
dict1["Colors"] = "Yellow"

In [47]:
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 1964, 'Colors': 'Yellow'}

In [49]:
# upadte Dictionary:-
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
dict1.update({"Year":2020})
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 2020, 'Colors': ['red', 'White']}

### Adding Items:-
- Adding an items to the dictionary is done by using a new index and assinging a value to it.

In [50]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964}

In [51]:
dict1["Color"] = ["red","white"]
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 1964, 'Color': ['red', 'white']}

### Removing Items:-

In [52]:
# The pop() method removes the item with the specified key name.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
dict1.pop("Brand")
print(dict1)

{'Electric': 'False', 'Year': 1964, 'Colors': ['red', 'White']}

In [55]:
# The del() method also removes the item with the specified key name.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
del dict1["Brand"]
print(dict1)

{'Electric': 'False', 'Year': 1964, 'Colors': ['red', 'White']}

In [53]:
# The popitem() method removes the last inserted item.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
dict1.popitem()
print(dict1)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 1964}

In [56]:
# The clear() method empties the dictionary.
# The pop() method removes the item with the specified key name.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
dict1.clear()
print(dict1)

{}

### Loop Method:-

In [58]:
# Print all keys name in the dictionary one by one.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
for x in dict1:
    print(x)

Brand
Electric
Year
Colors

In [59]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
for x in dict1.keys():
    print(x)

Brand
Electric
Year
Colors

In [60]:
# Print all values in the dictionary one by one.
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
for x in dict1:
    print(dict1[x])

Ford
False
1964
['red', 'White']

In [61]:
for x in dict1.values():
    print(x)

Ford
False
1964
['red', 'White']

In [63]:
for x,y in dict1.items():
    print(x,y)

Brand Ford
Electric False
Year 1964
Colors ['red', 'White']

### Copy Dictionary:-

In [64]:
dict1 = {"Brand":"Ford","Electric":"False","Year":1964,"Colors":["red","White"]}
my_dict = dict1.copy()
print(my_dict)

{'Brand': 'Ford', 'Electric': 'False', 'Year': 1964, 'Colors': ['red', 'White']}

### Nested Dictionaries:-
- A dictionary can contain dictionaries is called Nested dictionaries.

In [67]:
my_family = {"child1":{"Name":"Emil","Year":2004},
            "child2":{"Name":"Thomas","Year":2007},
            "child3":{"Name":"Linus","Year":2011}}
print(my_family)

{'child1': {'Name': 'Emil', 'Year': 2004}, 'child2': {'Name': 'Thomas', 'Year': 2007}, 'child3': {'Name': 'Linus', 'Year': 2011}}

In [69]:
child1 = {"Name":"Emil","Year":2004}
child2 = {"Name":"Thomas","Year":2007}
child3 = {"Name":"Linus","Year":2011}

my_family = {"child1":child1,"child2":child2,"child3":child3}
print(my_family)

{'child1': {'Name': 'Emil', 'Year': 2004}, 'child2': {'Name': 'Thomas', 'Year': 2007}, 'child3': {'Name': 'Linus', 'Year': 2011}}

In [70]:
# Access items in Nested Dictionaries:-
print(my_family["child2"]["Name"])

Thomas

## Tuples
- Tuple are used to store multiple items in a single variable.
- A tuple is a collection which is ordered, unchangeable and allow duplicate value.
- Tuples are written with round brackets().

In [71]:
## create an empty Tuples

my_tuple=tuple()

In [72]:
type(my_tuple)

tuple

In [73]:
my_tuple=()

In [74]:
type(my_tuple)

tuple

In [76]:
my_tuple=("Kunal","Ankur","John")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Kunal', 'Ankur', 'John')

In [77]:
## Inbuilt function
my_tuple.count('Kunal')

1

In [78]:
my_tuple.index('John')

2

### Create Tuple with one item:-
- To create a tuple with only one item, you have to badd a comma after the item, otherwise Python will not recognize it as Tuple.

In [1]:
tup1 = ("apple")
type(tup1)

str

In [2]:
tup1 = ("apple",)
type(tup1)

tuple

### The Touple () Constructor
- It is also possible to use the tuple() constructor to make a tuple

In [7]:
lst = ["apple", "banana", "cherry"]
tup = tuple(lst)

print(tup)
print(type(tup))

('apple', 'banana', 'cherry')
<class 'tuple'>

### Access Tuple items:-
- You can access tuple items by referring to the index number, inside the square brcakets[].

In [16]:
tup1 = ("apple", "banana", "cherry","mango","orange")
print(type(tup1))
print(tup1[1])

<class 'tuple'>
banana

In [13]:
print(tup1[-1])

orange

In [14]:
print(tup1[2:5])

('cherry', 'mango', 'orange')

In [18]:
if "apple" in tup1:
    print("Yes")

Yes

### Change Tuple Values:-
- Once a tuple is created, you cannot change its values. But there is a workaround, you can convert the tuple into a list and convert the list back into a tuple.

In [21]:
x = ("apple", "banana", "cherry","mango","orange")
y = list(x)
y[0] = "kiwi"
x = tuple(y)
print(x)

('kiwi', 'banana', 'cherry', 'mango', 'orange')

#### Add items:-

In [22]:
x = ("apple", "banana", "cherry","mango","orange")
y = list(x)
y.append("kiwi")
x = tuple(y)
print(x)

('apple', 'banana', 'cherry', 'mango', 'orange', 'kiwi')

#### Remove Items:-

In [23]:
x = ("apple", "banana", "cherry","mango","orange")
y = list(x)
y.remove("cherry")
x = tuple(y)
print(x)

('apple', 'banana', 'mango', 'orange')

### Add tuple to a tuple:-

In [25]:
x = ("apple", "banana", "cherry","mango","orange")
y = ("papaya",)
x +=y
print(x)

('apple', 'banana', 'cherry', 'mango', 'orange', 'papaya')

### Unpacking a Tuple:-

In [28]:
fruits = ("apple", "banana", "cherry")
green, yellow, red = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

#### Using Asterisk:-
- If the number of variables is less than the number of values, you can add an '*' to the variables name and the values will be assigned to the var in a list.

In [29]:
fruits = ("apple", "banana", "cherry","papaya","watermelon","mango")
green, yellow, *red = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'papaya', 'watermelon', 'mango']

#### Loop through the index numbers:-
-  You can also loop through the tuples items by referring to their index numbers.

In [30]:
fruits = ("apple", "banana", "cherry","papaya","watermelon","mango")
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
papaya
watermelon
mango

In [6]:
# Using a while loop
fruits = ("apple", "banana", "cherry", "papaya", "watermelon", "mango")
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry
papaya
watermelon
mango

### Join two tuple:-

In [7]:
tup1 = ("a","b","c")
tup2 = (1,2,3)
tup3 = tup1 + tup2
print(tup3)

('a', 'b', 'c', 1, 2, 3)

In [8]:
tup1 = ("a","b","c")
tup2 = tup1*2
print(tup2)

('a', 'b', 'c', 'a', 'b', 'c')